body {
  background: #f7f7f7;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 10px;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  margin-top: 10px;
  background: #ecf0f1;
  padding: 5px;
  border-radius: 5px;
}
